body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
.name_highlight{
    color: orange;
}
.half_width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half_width img{
    width: 100%;
}
.top_banner{
    background-image: url("images/top-banner.png");
    background-repeat:no-repeat;
}
section{
    height: 500px;
}
.btn_hero{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(light);
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 700;
}